[submodule "web/drupal7.local"]
	path = web/drupal7.local
	url = http://git.drupal.org/project/drupal.git
	branch = 7.x
[submodule "web/drupal8.local"]
	path = web/drupal8.local
	url = http://git.drupal.org/project/drupal.git
	branch = 8.0.x
